dist: trusty

sudo: required

language: cpp

before_install:
   - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
   - sudo apt-get update -qq
   - sudo apt-get install g++-4.9 liblapack-dev libboost-program-options-dev -y

install:
   - wget https://www.dropbox.com/s/n0zxh86y5nk65km/armadillo-6.100.1.tar.gz?dl=0
   - mv 'armadillo-6.100.1.tar.gz?dl=0' armadillo-6.100.1.tar.gz && tar xf armadillo-6.100.1.tar.gz
   - pushd armadillo-6.100.1 && CXX=/usr/bin/g++-4.9 cmake . && make && sudo make install && popd

script: CXX=/usr/bin/g++-4.9 make CPPFLAGS="-I../gzstream -I../dlib -D DLIB_NO_GUI_SUPPORT=1 -D DLIB_USE_BLAS=1 -D DLIB_USE_LAPACK=1 -D NO_HDF5=1" SEER_LDLIBS="-L../gzstream -lgzstream -lz -larmadillo -lboost_program_options -llapack -lblas -lpthread" && make test
